# Ignore environment configuration file
.env

# Ignore logs directory
logs/

# Ignore notes file
notes.txt

# Ignore test.py file
test.py

# Ignore all __pycache__ folders and .pyc files
__pycache__/
*.pyc
